/* ---------Mise en page générale -----------  */
    
    #container {
        margin-left: 40px;
        margin-right: 40px;
    }
    nav {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    a {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: green;
        text-decoration: none;
        margin-right: 10px;
    }
    #surnom {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        color: green;
        padding-bottom: 15px;
    }
    #presentation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    #identite {
        display: flex;
        flex-direction: column;
    }
    #nom {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 50px;
    }
    #titre {
        margin-bottom: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 18px;
        color: green;
    }
    #img {
        top: 2px;
        height: 200px;
        width: 200px;
    }
    #img2 {
        border-radius: 100%;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    #competence , #personnel {
        background-color:#F8F8F8 ;
    }
    .comp {
        width: 200px;
    }
    #image {
        text-align: center;
    }
    #desc-competence {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;

    }
    #desc-competence-bas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;

    }
    #experience {
        top: 50px;
        font-size: 23px;
        width: 250px;
    }
    #anne {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80px;
        font-weight: bolder;
        color: green;
    }
    #comp-exp {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: bolder;
        color: green;
    }
    #aptitude {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 100%;
    }
    .liste-apt {
        text-align: center;
        padding-top: 180px;
        width: 250px;
        margin-left: 10px;
        margin-bottom: 10px;
        border: solid 1px green;
        border-radius: 10px;
    }
    #projet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    #projet-title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: bolder;
        color: green;
    }
    #projet-cont {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    #projet-detail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .proj {
        width: 350px;
        height: 300px;
        padding: 20px;
    }
    #personnel {
        display: flex;
        flex-wrap: wrap;
    }
    .perso , .com {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: 100%;
    }
    #image-pers {
        width: 500px;
        height: 400px;
        flex-basis: 50%;
        border-radius: 20px;
    }
    #presentation-personnel {
        flex-basis: 50%;
        padding-left: 2%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 17px;
    }
    #presentation-perso {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 28px;
        color: green;
    }
    #store {
        width: 180px;
        height: 55px;
        padding-left: 35%;
    }
    .commentaire {
        display: inline-block;
        width: 340px;
        height: 280px;
        margin-top: 50px;
        margin-left: 13px;
        margin-right: 13px;
        text-align: center;
        border-radius: 20px;
        background-color:#FFFFFF ;
    }
    .com-image {
        display: inline;
    }
    .contenu-com {
        display: block;
        margin-top: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: green;
    }
    .poste-com {
        display: block;
        margin-top: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: darkgrey;
    }
    #footer {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #contact-gauche {
        width: 600px;
    }
    #contact-droit {
        width: 400px;
        height: 100px;
    }
    input {
        width: 350px;
        height: 50px;
    }
    textarea {
        width: 350px;
        height: 50px;
    }


/* ---------Mise en page smartphone -----------  */
@media all and (max-width:576px) {
    nav {
        flex-wrap: wrap;
    }
    #presentation {
        flex-wrap: wrap-reverse;
        height: 600px;

    }
    #experience {
        text-align: center;
    }
    #image-pers {
        flex-basis: 100%;
        width: 350px;
        height: 270px;
    }
    #presentation-personnel {
        flex-basis: 100%;
    }
}


/* ---------Mise en page tablette -----------  */
@media all and (min-width:576px) and (max-width:768px) {
    #presentation {
        flex-wrap: wrap-reverse;
    }
    #experience {
        text-align: center;
        width: 100%;
    }
    #image-pers {
        flex-basis: 100%;
        width: 600px;
        height: 500px;
    }
    #presentation-personnel {
        flex-basis: 100%;
    }
    
}


/* ---------Mise en page laptop -----------  */
@media all and (min-width:768px) and (max-width:1100px) {
    #experience {
        text-align: center;
        width: 100%;
    }
    #image-pers {
        flex-basis: 100%;
        width: 600px;
        height: 500px;
    }
    #presentation-personnel {
        flex-basis: 100%;
    }
}


/* ---------Mise en page large écran X1 -----------  */
@media all and (min-width:1300px) and (max-width:1600px) {
    #container {
        margin-left: 100px;
        margin-right: 100px;
    }
    
}


/* ---------Mise en page large écran X2-----------  */
@media all and (min-width:1500px) and (max-width:1900px) {
    #container {
        margin-left: 200px;
        margin-right: 200px;
    }
}


/* ---------Mise en page large écran X3-----------  */
@media all and (min-width:1900px) {
    #container {
        margin-left: 300px;
        margin-right: 300px;
    }
}